{% extends "layout.html" %}

{% block title %}
    quoted
{% endblock %}

{% block main %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ symbol }}</td>
                    <td>{{ price }}</td>
                </tr>
            </tbody>
        </table>
    </div>


{% endblock %}