{% extends "layout.html" %}

{% block title %}
    register
{% endblock %}

{% block main %}
    <div class="alert-target d-none">
        <div class="alert alert-danger" role="alert">
          Sorry! Username is in use.
        </div>
    </div>

    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" id="target">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="password confirmation" type="password">
        </div>
        <button class="btn btn-primary submit-button" type="submit">Register</button>
    </form>
{% endblock %}

{% block js%}
<script>


let request = new XMLHttpRequest();

request.responseType = "json";


let target = document.getElementById("target");
let button = document.querySelectorAll(".submit-button")[0];

target.addEventListener("keyup",function() {

    let requestURL = '/check/' + target.value;

    request.open("GET",requestURL);

    request.send();

    request.onload = function() {

        console.log(request.response);

        if(request.response == true) {
            target.classList.remove("is-invalid");
            target.classList.add("is-valid");
            document.querySelectorAll(".alert-target")[0].classList.add("d-none");

        } else if(request.response == false) {
            target.classList.remove("is-valid");
            target.classList.add("is-invalid");

        }
    };

});


button.addEventListener("click", function(event) {

    if (request.response == false) {
        document.querySelectorAll(".alert-target")[0].classList.remove("d-none");
        event.preventDefault();
        // console.log("prevent default because of an invalid username")
    }
});


</script>

{% endblock %}